click==6.2
ecdsa==0.13
Fabric==1.10.2
first==2.0.1
Flask==0.10.1
http==0.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
paramiko==1.16.0
pbr==1.8.1
pip-tools==1.4.3
pycrypto==2.6.1
Pygments==2.0.2
PyYAML==3.11
requests==2.9.1
six==1.10.0
stevedore==1.10.0
tldr.py==0.2.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.11.2
