{% macro dashboard_nav() %}
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"
      class="{% if request.endpoint == 'dashboard.get_links' %}active{% endif %}">
    <a href="{{ url_for('dashboard.get_links') }}">My Links</a>
  </li>
  <li role="presentation">
    <a href="{{ url_for('dashboard.add_link') }}"
       class="{% if request.endpoint == 'dashboard.add_link' %}active{% endif %}">
      Add Link
    </a>
  </li>
  {% set draft_link_ids = g.draft.link_ids or [] %}
  {% if g.draft.links %}
  <li role="presentation">
    <a href="{{ url_for('dashboard.add_link', _draft=draft_link_ids) }}">
      Add Draft
      <span class="badge">{{ g.draft.links | length }}</span>
    </a>
  </li>
  {% endif %}
</ul>
{% endmacro %}

{% macro dashboard_back(url) %}
<nav>
  <ul class="pager">
    <li class="previous">
      <a href="{{ url or url_for('dashboard.get_links')}}">
        <i class="glyphicon glyphicon-chevron-left"></i>
        <span>Back</span>
      </a>
    </li>
  </ul>
</nav>
{% endmacro %}
