{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as bootstrap_utils %}
{% import "bootstrap/google.html" as bootstrap_google %}
{% import "web/widgets/footer.html" as widget_footer %}

{% block metas %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block body -%}

{% block navbar %}
{% if config.ENABLE_NAVBAR %}
{{nav.top.render(renderer='twoside')}}
{% endif %}
{% endblock navbar %}

{% block flashed %}
{{ bootstrap_utils.flashed_messages(dismissible=True) }}
{% endblock %}

{% block container %}
<div class="container">
  {% block content %}{% endblock content %}
</div>
<div class="site-footer">
  {% block site_footer %}{{ widget_footer.site_footer() }}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{% if config.GOOGLE_ANALYTICS_ID %}
{{ bootstrap_google.uanalytics(config.GOOGLE_ANALYTICS_ID) }}
{% endif %}
{%- endblock scripts %}

{% block styles %}
{{ super() }}
<style>
 .site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  border-top: 1px solid #e5e5e5;
 }
</style>
{% endblock %}

{%- endblock body %}
