{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as bootstrap_utils %}

{% block body -%}

{% block navbar %}
{% if config.ENABLE_NAVBAR %}
{{nav.top.render()}}
{% endif %}
{% endblock navbar %}

{% block flashed %}
{{ bootstrap_utils.flashed_messages(dismissible=True) }}
{% endblock %}

{% block container %}
<div class="container">
  {% block content %}{% endblock content %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}

{%- endblock body %}
