packages:
  yum:
    git: []
    postgresql94-devel: []
    libffi-devel: []
    readline-devel: []
    patch: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    zlib-devel: []
    libxml2-devel: []
    libxslt-devel: []

container_commands:
  01upgrade:
    command: "python manage.py db upgrade"

