{% extends "web/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "web/widgets/ad.html" import related_books %}

{% block title %}{{issue.title}}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div class="panel-heading">
          <h1>
            {% if issue.serial  %}
            <span>No. {{ issue.serial }} {{ issue.title }}</span>
            {% else %}
            <span>{{ issue.title }}</span>
            {% endif %}

            {% if issue is belongs_to_me %}
            {% if links | length < 5 %}
            <div class="pull-right">
              <a href="{{ url_for('web.add_issue_link', id=issue.id) }}"
               class="btn btn-default"
               ><i class="glyphicon glyphicon-plus"></i> Add Link</a>
            </div>
            {% endif %}
            {% endif %}
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="{{ url_for('web.get_topic_issues', id=topic.id) }}"
                 >{{ topic.title }}</a>
            </li>
            <li class="active">
              {% if issue.serial %}
              <span>No. {{ issue.serial }}</span>
              {% endif %}
              <span>{{ issue.title }}</span>
            </li>
          </ol>
        </div>
        <ul class="list-group">
          {% for link in links %}
          <li class="list-group-item">
            <a href="{{ url_for('web.get_link', id=link.id) }}"
               class="lead"
               >{{ link.title }}</a>
            <p>{{ link.html_short_summary | safe }}</p>
          </li>
          {% endfor %}
        </ul>
        {% if issue is belongs_to_me %}
        <div class="panel-body">
          {% if not issue.serial and links | length >= 5 %}
          {{ wtf.quick_form(publish_issue_form, action=url_for('web.publish_issue', id=issue.id)) }}
          {% elif not issue.serial %}
          <p>Please at least add 5 links before publishing this issue.</p>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4">
      {{ related_books(ads) }}
    </div>
  </div>
</div>
{% endblock %}
