{% extends "web/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div class="panel-heading">
          <h1>
            {% if issue.serial  %}
            <span>{{ issue.topic.title }} No. {{ issue.serial }}</span>
            <small>Published at {{ issue.published_at | dateformat }}</small>
            {% else %}
            <span>Unpublished Issue</span>
            {% endif %}

            {% if links | length < 5 %}
            <a href="{{ url_for('web.add_issue_link', id=issue.id) }}"
               class="btn btn-default"
               >Add Link</a>
            {% endif %}
          </h1>
        </div>
        <ul class="list-group">
          {% for link in links %}
          <li class="list-group-item">
            <a href="{{ url_for('web.get_link', id=link.id) }}"
               class="lead"
               >{{ link.title }}</a>
            <p>{{ link.summary }}</p>
          </li>
          {% endfor %}
        </ul>
        <div class="panel-body">
          {% if not issue.serial and links | length >= 5 %}
          {{ wtf.quick_form(publish_issue_form, action=url_for('web.publish_issue', id=issue.id)) }}
          {% elif not issue.serial %}
          <p>Please at least add 5 links before publishing this issue.</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
