{% extends "web/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "web/utils.html" as utils %}

{% block title %}Issue List{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <span>{{ topic.title }}</span>
        <div class="pull-right">
          <a class="btn btn-default">Subscribe</a>
        </div>
      </h3>
      <p>{{ topic.description }}</p>
    </div>
  </div>
  {% if current_user.id == topic.user_id %}
  <div class="row">
    <div class="navbar">
        <div class="btn-group">
          {{ utils.btn_group_filter('is_published', is_published | int, 1, 'Published') }}
          {{ utils.btn_group_filter('is_published', is_published | int, 0, 'Unpublished') }}
        </div>
      <div class="pull-right">
        {{ wtf.quick_form(add_issue_form, action=url_for('web.add_issue', id=topic.id)) }}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        {% for issue in pagination.items %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="{{ url_for('web.get_issue', id=issue.id) }}">
                {% if issue.serial %}
                No. {{issue.serial}}
                {% else %}
                Unpublished Issue
                {% endif %}
              </a>
            </div>
            <ul class="list-group">
              {% for link in issue.links %}
              <li class="list-group-item">
                <a href="{{ url_for('web.get_link', id=link.id) }}">
                  {{ link.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
        {{ pagination.info }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
