{% extends "web/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "web/utils.html" as utils %}

{% block title %}Issue List{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <a href="{{ url_for('web.get_topic_issues', id=topic.id) }}">{{ topic.title }}</a>
        <div class="pull-right">
          <a class="btn btn-default">Subscribe</a>
          {% if topic is belongs_to_me %}
          <a href="{{ url_for('web.add_topic_issue', id=topic.id) }}"
             class="btn btn-default"
             >Add Topic</a>
          {% endif %}
        </div>
      </h3>
      <p>{{ topic.description }}</p>
      {% if topic is belongs_to_me and is_published and unpublished_count > 0 %}
      <div class="row">
        <div class="col-md-12">
          <p>
            You have {{ unpublished_count }} draft issues, edit and publish them?
            <a href="{{ url_for('web.get_topic_issues', id=topic.id, is_published=0) }}">
              Click here
            </a>
            .
          </p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {% for issue in pagination.items %}
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="{{ url_for('web.get_issue', id=issue.id) }}">
                {% if issue.serial %}
                No. {{issue.serial}} {{ issue.title | truncate(15) }}
                {% else %}
                {{ issue.title | truncate(15) }}
                {% endif %}
              </a>
            </div>
            <ul class="list-group">
              {% for link in issue.links %}
              <li class="list-group-item">
                <a href="{{ url_for('web.get_link', id=link.id) }}">
                  {{ link.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
        {{ pagination.info }}
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
{% endblock %}
