{% macro site_footer() %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <small>© 2016 href.today, all rights reserved</small>
    </div>
    <div class="col-sm-8">
      <ul class="list-inline">
        <li>
          <small>
            <a href="{{ url_for('web.about')}}">About</a>
          </small>
        </li>
        <li>
          <small>
            <a href="{{ url_for('web.contact')}}">Contact</a>
          </small>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endmacro %}
