{% macro share_button(text='') %}
<div class="btn-group">
  <!-- http://petragregorova.com/articles/social-share-buttons-with-custom-icons/ -->
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="glyphicon glyphicon-share"></i> Share <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e(d.title)+'&sel='+e(s)+'&v=1',w=450,h=330,x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width='+w+',height='+h+',left='+(screen.width-w)/2+',top='+(screen.height-h)/2))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()">
        <img src="http://img3.douban.com/pics/fw2douban_s.png" style="height:16px; weight:16px;"/> Douban
      </a>
    </li>
    <li>
      <a href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='https://twitter.com/intent/tweet?via=HrefToday&url='+e(d.location.href)+'&text='+e(d.title)+' &sel='+e(s)+'&v=1',w=450,h=330,x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width='+w+',height='+h+',left='+(screen.width-w)/2+',top='+(screen.height-h)/2))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()">
        <img src="https://g.twimg.com/dev/documentation/image/Twitter_logo_blue_32.png" style="height:16px; weight:16px;"/> Twitter
      </a>
    </li>
  </ul>
</div>
{% endmacro %}
