{% extends "web/layout.html" %}
{% from "web/widgets/share.html" import share_button %}

{% block title %}{{ link.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel">
        <div class="panel-heading">
          <h1> {{ link.title }} </h1>
        </div>
        <div class="panel-body">
          <p>
            <a href="{{ link.url }}" class="btn btn-default" title="{{ link.title }}"
               onclick="ga('send', 'event', 'Click Link', 'Click Link {{ link.title }}');"
               ><i class="glyphicon glyphicon-share-alt"></i> {{ link.domain }}</a>
          </p>
          <p>{{ link.html_summary | safe }}</p>
          <div class="clearfix"></div>
          <div class="pull-right">
            {{ share_button() }}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
