{% extends "web/layout.html" %}
{% from "web/widgets/share.html" import share_button %}
{% from "web/widgets/ad.html" import related_books %}
{% from "web/widgets/apply_for_trial.html" import apply_for_trial %}
{% from "web/widgets/comment.html" import comments %}

{% block title %}{{ link.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div class="panel-heading">
          <h1>
            {{ link.title }}
            {% if current_user.id == link.user_id %}
            <div class="pull-right btn-group">
              <a href="{{ url_for('web.update_link', id=link.id) }}"
                 class="btn btn-default btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
            </div>
            {% endif %}
          </h1>
        </div>
        <div class="panel-body">
          <p>
            <a href="{{ link.url }}" class="btn btn-default" title="{{ link.title }}"
               onclick="ga('send', 'event', 'Click Link', 'Click Link {{ link.title }}');"
               ><i class="glyphicon glyphicon-share-alt"></i> {{ link.domain }}</a>
          </p>
          <p>{{ link.html_summary | safe }}</p>
          <div class="clearfix"></div>
          <div class="pull-right">
            {{ share_button() }}
          </div>
          <div class="clearfix"></div>
          {{ comments() }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {{ apply_for_trial() }}
      {{ related_books(ads) }}
    </div>
  </div>
</div>
{% endblock %}
